 <div class="message">
    <div class="m-user">
      <%= message.user.name%>
    </div>
    <div class="m-date">
      <%= l message.created_at%>
    </div>
  </div>
  <div class="lower-meesage">
    <div class="m-content">
      <%= message.content%>
    </div>
    <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.present?%>
  </div>